<div id='arrangement'>
    <h2><%= @arrangement.title %></h2>
    <h4>Description:</h4>
    <p></h4><%= @arrangement.description %></p>
    <h4>Arrangement Height: <%= @arrangement.height %></h4>
    <h4>Price: $<%= @arrangement.price %></h4>
    <p><%= image_tag @arrangement.image_url.to_s, size: "300x300" if @arrangement.image? %></p>
    <% if current_user.admin %>
      <%= button_to "Edit Arrangement", edit_arrangement_path(@arrangement), method: :get %>
      <%= button_to "Delete Arrangement", @arrangement, method: :delete %>
      <%= button_to "View Orders", arrangement_orders_path(@arrangement), method: :get %>
    <% elsif %>
      <%= button_to "Order Arrangement", new_arrangement_order_path(@arrangement), method: :get %>
    <% end %>
</div>