<h3><%= @user.name %></h3>
<h4>Email: <%= @user.email %></h4>
<h4>Address: <%= @user.address %></h4>

<%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
<%= button_to "Delete Profile", @user, method: :delete, data: { confirm: "Really?" } %>
