<div class="form">
    <h2>Create an Order</h2>
    <%= form_for [@arrangement, @order] do |f| %>
        <%= render partial: "errors", locals: {object: @order} %>
        <h4>Arrangement: <%= @arrangement.title %></h4>
        <strong>Arrangement Price: $<%= @arrangement.price %></strong>
        <br></br>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :arrangement_id %>
        <%= f.label :Quantity %>
        <%= f.select :quantity, options_for_select(1..10) %>  
        <br></br>
        <%= f.label "Select delivery option:" %>
        <%= f.select :delivery_day, options_for_select(["in 10 days - free", "in a week - $5", "in two days - $10"], selected: params[:delivery_day]) %>
        <br></br>
        <%= f.submit %>
    <% end %>
</div>