<div class="form">
    <h2>Create an Order</h2>
    <%= form_for [current_user, @order] do |f| %>
        <%= render partial: "errors", locals: {object: @order} %>
        <h4>Arrangement: <%= @arrangement.title %></h4>
        <strong>Arrangement Price: $<%= @arrangement.price %></strong>
        <br></br>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :arrangement_id %>
        <%= f.label :Quantity %>
        <%= f.select :quantity, options_for_select(1..10) %>  
        <br></br>
        <%= f.label "Select delivery date:" %>
        <%= f.date_select :delivery_day, default: 3.days.from_now, start_year: Date.current.year %>
        <br></br>
        <%= f.submit %>
    <% end %>
</div>