<% if @order.errors.any? %>
        <div class=text-danger>
            <p><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</p>
            <ul>
                <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
<% end %>
<div class="form">
    <h2>Create an Order</h2>
    <h4>Arrangement: <%= @arrangement.title %></h4>
    <%= form_for [current_user, @order] do |f| %>
        <%= f.label :Quantity %>
        <%= f.select :quantity, options_for_select(1..10), include_blank: true %>  
        <br></br>
        <%= f.label "What day would you like to recieve your arrangement?" %>
        <%= f.select :delivery_day, [['Monday'], ['Tuesday'], ['Wednesday'], ['Thursday'], ['Friday']], include_blank: true %>
        <br></br>
        <%= f.label "Select the subscription type:" %><br>
        <%= f.select :frequency, [["Once a week"], ["Once every two weeks"], ["Once every three weeks"], ["Once a month"]] %>
        <br></br>
        <%= f.submit %>
    <% end %>
</div>