<h2>Order Information</h2>
<h4>Arrangement Name</h4> <p><%= @order.arrangement.title %></p>
<h4>Quantity</h4> <p><%= @order.quantity %></p>
<h4>Order Created at</h4> <p><%= created_time @order %></p>
<h4>Delivery Day</h4> <p><%= @order.delivery_day %></p>
<h4>Frequency</h4> <p><%= @order.frequency %></p>
