<h2>Order Information</h2>
<h4>Arrangement Name <b><%= link_to "#{@order.arrangement.title}", arrangement_path(@order.arrangement) %><br></b></h4>
<h4>Order Created at <b><%= created_time @order %></b></h4> 
<h4>Delivery Date <b><%= delivery_date @order%></b></h4> 
<h4>Quantity <b><%= @order.quantity %></b></h4> 
<h4>Total Price <b>$<%= total_price @order%></b></h4> 
<h5>User: <%= @order.user.email %></h5>


