<h2>Order Information</h2>
<h3>Arrangement: <%= @order.arrangement.title %></h3>
<h4>Quantity: <%= @order.quantity %></h4>

<h4>Order Created at: <%= @order.created_at %></h4>
<h4>Delivery Day: <%= @order.delivery_day %></h4>
<h4>Frequency: <%= @order.frequency %></h4>
