<!DOCTYPE html>
<html>
  <head>
    <title>FlowersForMeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-warning">
      <div class="form-inline">
        <%= link_to "Home", root_path, class: "btn btn-outline-light", role: "button" %>
        <% if logged_in? %>
          <%= link_to "Arrangements", arrangements_path, class: "btn btn-outline-light", role: "button" %>
          <%= link_to "My Profile", user_path(current_user), class: "btn btn-outline-light", role: "button" %>
        <% end %>
      </div>
      <div class="text-light">
        <% if current_user %>
          <span><b>Welcome, <%= current_user.name %></b>!</span>
          <span><%= link_to "Log Out", '/logout'%></span>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
