<!DOCTYPE html>
<html>
  <head>
    <title>FlowersForMeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-light bg-light">
  <div style="padding-left: 10px;">
    <%= image_tag("logo.jpg", width: "70px")%>
    <span class="navbar-brand">Flowers for Me</span>
  </div>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/login" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <%= link_to "Sign Up", new_user_path, class: "btn btn-outline-success", role: "button" %>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/home" role="button">
      Home
      </a>
    </div>
  </form>
</nav>
  <body>
    <div style="padding-left: 10px;">
      <%= yield %>
    </div>
  </body>
</html>
